@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.recipe-box {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 16px;
}
.recipe-box:hover {
  background-color: #fafafa;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  gap: 12px;
}

.recipe-section {
  max-width: 960px;
  margin: auto;
  padding: 8px;
}

.recipe-title {
  margin-bottom: 16px;
}

.recipe-card-tags {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.recipe-tag {
  all: unset;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 6px;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: #eee;
  font-size: 13px;
}
.recipe-tag:hover {
  text-decoration: underline;
  background-color: #e0e0e0;
}
