<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
{{- partial "head.html" . -}}

  <body>
    {{ if ( eq .Permalink ( add .Site.BaseURL "search/" ) ) }}
      {{- partial "searchbar.html" . -}}
    {{ else }}
      {{- partial "navbar.html" . -}}
    {{ end }}
    <main role="main">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}

    {{ if ( eq .Permalink ( add .Site.BaseURL "search/" ) ) }}
      <script src="{{ .Site.BaseURL }}/js/search.js"></script>
    {{ end }}
  </body>
</html>
