{{ define "main" }}

{{- partial "navbar.html" . -}}

<div class="recipe-section">
    <header>
      <h1 class="recipe-title">
        {{ .Title }}
      </h1>
      <div class="recipe-card-tags" style="margin-top: 1em;">
        {{ range .Params.Tags }}
        <a class="recipe-tag" href="{{ $.Site.BaseURL }}tags/{{ . }}">{{ . }}</a>
        {{ end }}
      </div>
    </header>
    <div class="content" style="margin-top: 1em;">
      {{ .Content }}
    </div>

    <a class="recipe-button appview-only" href="{{ $.Site.Params.githubEditUrl }}{{.File.LogicalName}}" target="_blank">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
      </svg>
      Szerkesztés Githubon
    </a>
    <button
      class="recipe-button"
      onclick="copyAction()"
    >
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
      </svg>
      <span id="copy-text">Link másolása</span>
    </button>
</div>

<script>
const copyButton = document.querySelector('#copy-text');
document.addEventListener('copy', (event) => {
  copyButton.innerText = 'Link másolása';
});
function copyAction() {
  navigator.clipboard.writeText({{.Permalink}}).then(copyButton.innerText='Vágólapra másolva');
}
</script>
{{ end }}
